<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Request Account Deletion - ChatSocket</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<!-- Header Bar -->
<div class="header-bar">
    <a href="/">ChatSocket</a>
</div>

<!-- Main Content -->
<div class="main-content">
    <div class="centered-container">
        <h1>Request sent to your email</h1>
        <p class="description-text">Check your email inbox to complete your account deletion.</p>

    </div>
</div>

<footer>
    <div class="footer-links">
        <a href="/">ChatSocket</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/usage-agreement">User Agreement</a>
        <a href="/delete-account-request">Delete Account</a>
    </div>
    <div class="footer-playstore">
        <a href="#">
            <img src="/images/google_play_download.png" alt="Download on Google Play Store" class="playstore-badge">
        </a>
    </div>
</footer>

</body>
</html>
