<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ChatSocket</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<!-- Banner -->
<div class="banner">
    <div class="banner-content">
        <div class="banner-text">
            <h1>ChatSocket</h1>
            <p class="tagline">Open source messaging application</p>
        </div>
        <div class="banner-image">
            <img src="/images/chat.png" alt="Chat Screenshot">
        </div>
    </div>
</div>

<!-- Feature Sections -->
<div class="feature-section">
    <div class="feature">
        <div class="feature-image">
            <img src="/images/login.png" alt="Login Page">
        </div>
        <div class="feature-text">
            <h2>Easy Login</h2>
            <p>Quickly access your messages with a clean and intuitive login screen.</p>
        </div>
    </div>

    <div class="feature reverse">
        <div class="feature-image">
            <img src="/images/main.png" alt="Main Page">
        </div>
        <div class="feature-text">
            <h2>Organized Main Screen</h2>
            <p>See all your conversations in one place, neatly organized.</p>
        </div>
    </div>

    <div class="feature">
        <div class="feature-image">
            <img src="/images/main_options.png" alt="Options">
        </div>
        <div class="feature-text">
            <h2>Powerful Features</h2>
            <p>Customize your chat experience with a variety of options.</p>
        </div>
    </div>

    <div class="feature reverse">
        <div class="feature-image">
            <img src="/images/profile.png" alt="Profile">
        </div>
        <div class="feature-text">
            <h2>Your Profile</h2>
            <p>Manage your account and stay in control of your data.</p>
        </div>
    </div>

    <div class="feature">
        <div class="feature-image">
            <img src="/images/secure.png" alt="Options">
        </div>
        <div class="feature-text">
            <h2>Encrypted Communication</h2>
            <p>Your messages are transmitted safely using End to End Encryption.</p>
        </div>
    </div>

    <hr style="border: 1px solid #ccc; margin: 20px 0;">

    <div class="feature-text" style="align-items:center">
        <h2>Completely Open Source</h2>
        <p>You can check out Backend and Mobile source codes on Github</p>
    </div>

    <div class="custom-feature">
        <!-- Backend Source Link -->
        <div class="custom-feature-item">
            <a href="https://github.com/Aliefe02/ChatSocket-Backend" target="_blank" class="custom-feature-link">
                <img src="/images/github.png" alt="GitHub Logo" class="custom-feature-image">
                <h3 class="custom-feature-text">ChatSocket Backend Source</h3>
            </a>
        </div>

        <!-- Mobile Source Link -->
        <div class="custom-feature-item">
            <a href="https://github.com/Aliefe02/ChatSocket-Mobile" target="_blank" class="custom-feature-link">
                <img src="/images/github.png" alt="GitHub Logo" class="custom-feature-image">
                <h3 class="custom-feature-text">ChatSocket Mobile Source</h3>
            </a>
        </div>
    </div>





</div>
<footer>
    <div class="footer-links">
        <a href="/">ChatSocket</a>
        <a href="/privacy-policy">Privacy Policy</a>
        <a href="/usage-agreement">User Agreement</a>
        <a href="/delete-account-request">Delete Account</a>
    </div>
    <div class="footer-playstore">
        <a href="#">
            <img src="/images/google_play_download.png" alt="Download on Google Play Store" class="playstore-badge">
        </a>
    </div>
</footer>
</body>
</html>
